<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form method="post" th:object="${user}">
        <h3>ID: </h3>
        <input type="text" th:field="*{id}" /> <br />
        <h3>Name: </h3>
        <input type="text" th:field="*{name}"/> <br/>
        <h3>Hometown: </h3>
        <input type="text" th:field="*{hometown}"/> <br/>

        <button type="submit">Update</button>
    </form>
</body>
</html>